<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Konkuk Aerospace</h1>
            <h1>Design·Airworthiness Institute</h1>
            <h1>건국 항공우주설계·인증 교책연구원</h1>
            <hr>
            <h3>건국대학교 특성화 총장 지정 KU 연구소 KADA 방문을 환영합니다.</h3>
            <h3>Welcome to Konkuk Aerospace Design·Airworthiness Institute.</h3>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">다온로드 Our Products</a>
        </div>
    </div>
</header>
