<section id="products-intro" class="py-5 bg-light">
  <div class="container">
    <!-- 标题部分 -->
    <div class="row text-center mb-4">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="section-heading">Our Products</h2>
        <hr class="primary">
        <p>A quick introduction to our main products</p>
      </div>
    </div>

    <!-- Features 部分 -->
    <div class="row text-center">
      <!-- Feature 1 -->
      <div class="col-md-4 mb-4">
        <div class="feature-box">
          <i class="fa fa-cogs fa-3x text-primary mb-3"></i>
          <h4>CADE</h4>
          <p>Brief description of product 1.</p>
        </div>
      </div>

      <!-- Feature 2 -->
      <div class="col-md-4 mb-4">
        <div class="feature-box">
          <i class="fa fa-database fa-3x text-primary mb-3"></i>
          <h4>Product 2</h4>
          <p>Brief description of product 2.</p>
        </div>
      </div>

      <!-- Feature 3 -->
      <div class="col-md-4 mb-4">
        <div class="feature-box">
          <i class="fa fa-cloud fa-3x text-primary mb-3"></i>
          <h4>Product 3</h4>
          <p>Brief description of product 3.</p>
        </div>
      </div>

      <!-- Feature 4 -->
      <div class="col-md-4 mb-4">
        <div class="feature-box">
          <i class="fa fa-rocket fa-3x text-primary mb-3"></i>
          <h4>Product 4</h4>
          <p>Brief description of product 4.</p>
        </div>
      </div>

      <!-- Feature 5 -->
      <div class="col-md-4 mb-4">
        <div class="feature-box">
          <i class="fa fa-code fa-3x text-primary mb-3"></i>
          <h4>Product 5</h4>
          <p>Brief description of product 5.</p>
        </div>
      </div>

      <!-- Feature 6 -->
      <div class="col-md-4 mb-4">
        <div class="feature-box">
          <i class="fa fa-users fa-3x text-primary mb-3"></i>
          <h4>Product 6</h4>
          <p>Brief description of product 6.</p>
        </div>
      </div>
    </div>
  </div>
</section>